footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: #f0f8ff;
    
    font-style:bold;
    width: 100%;
    /* height: 100px; */

}
  p{
    /* margin-right:600px; */
  font-size: 20px;
 /* margin-right: 600px; */
 

  
    
}
@media screen and (max-width:760px){
     p{
   justify-content: center;
    }
}