:root{
    --mainColor:pink;
}
header{
    background-color:var(--mainColor);

}
.container{
    width: 95%;
    background-color: orange;
    margin:0 auto;
    max-width: 1200px;
}
.container-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 130px;
    padding: .5em 0;
}
.listItem{
    margin-left: 2em;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.activeItem{
    color:red;
    border-bottom: 2px solid white;
}
@media screen and (max-width:768px){
html{
    font-size: 10px;
}
.container-flex{
    flex-direction: column;
}
.logo{
    width:150px;
}
}
@media screen and (max-width:768px){
.logocontainer{
    margin-top: 5px;
}
}
@media screen and (max-width:1370px){
    .logocontainer{
        margin-top: 5px;
    }
    }
        
    
